nav{
    height: 70px;
    position: sticky;
    top:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(145, 162, 153);
    padding: 0 20px;
    z-index: 2;
    color: white;
    font-weight: bold;
}

.nav-btn{
    margin-left: 10px;
    margin-right: 10px;
}