.App {
  padding: 30px;
  display: flex;
  /* filter:blur(30px); */
  align-items: flex-start;
  font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Hiragino Sans GB","Hiragino Sans GB W3",serif;
}
